.homeBody{
	padding: 50px 15px 100px 15px;
	background: url('../images/home-bg.jpg') no-repeat;
	background-size: cover;
}
.homeBodyTit{
	font-size: 18px;
}
.homeBodyItem{
	border: 1px solid #d2577e;
	background-color: #fff;
	padding: 30px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	font-size: 16px;
	display: block;
}
.homeBodyItem i{
	font-size: 40px;
}